{% load static %}

<nav class="mb-3 position-absolute top-0 start-0 w-100 z-1 blur shadow-b">
    <div class="container d-flex flex-wrap align-items-center py-3 px-0">
        <ul class="nav me-auto">
            <li class="nav-item">
                <a href="#" class="fs-4 nav-link link-body-emphasis active" aria-current="page">
                    <!-- <h2 class="pico-color-violet-350 m-0">Hi :)</h2> -->
                    <img style="height: 36px; width: 36px;" class="pico-color-violet-350 " src="{% static 'icons/game-icons_frog.svg' %}" />
                </a>
            </li>
        </ul>

        <ul class="nav nav-pills align-items-center">
            <li class="nav-link">
                <a href="#skills" class="nav-link text-uppercase fw-semibold link-body-emphasis text-light" aria-current="page">
                    <small>my skills</small>
                </a>
            </li>
            <li class="nav-link">
                <a href="#projects" class="nav-link text-uppercase fw-semibold link-body-emphasis text-light" aria-current="page">
                    <small>projects</small>
                </a>
            </li>
        </ul>
</nav>