{% load static %}

<!-- PROJECTS -->

<div id='projects' class="d-flex mt-4 border border-dark min-vh-100">

  <div class="container px-4 py-4" id="icon-grid">

    <!-- <h2 class="pb-2 border-bottom">Projects</h2> -->
    <h2 class="pb-2 border-bottom">Projects</h2>

    <div class="d-flex mt-4 border border-dark">

      <!-- <div class="flex-container"> -->

      <div class="container col-lg-10 px-0 py-0 g-5 ">

        <div class="row align-items-center mb-3 g-5 py-2">

          <div class="col-lg-6">

            <div class="d-flex mt-5 g-5">

              <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Habit Tracker App</h1>

            </div>

            <div class="d-flex mt-2 ">
              <p class="lead">The Habit Tracker app is a versatile tool designed to help users effortlessly monitor and
                manage their habits. Accessible on any device with internet, fostering positive habits effortlessly.</p>
            </div>
          </div>

          <div class="col-12 col-sm-10 col-lg-6 px-0">
            <img src="{% static '/images/collage-app.png' %}" class="d-block mx-lg-auto img-fluid" alt="Screen of code"
              width="600" height="500" loading="lazy">
            <!-- <img src="{% static '/images/collage-habits2.png' %}" class="d-block mx-lg-auto img-fluid" alt="Screen of code" width="500" height="500" loading="lazy"> -->

          </div>

        </div>
      </div>
    </div>
  </div>
</div>




<div class="d-flex mt-4 border border-dark min-vh-100">
  <div class="container px-4 py-4">
    <h2 class="pb-2 border-bottom">Habit Tracker</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-3">


      <div class="col d-flex flex-column align-items-start gap-3">
        <h2 class="fw-bold text-body-emphasis">Motivation</h2>
        <p class="text-body-secondary"> The concept for the Habit Tracker app emerged from a collaboration with a
          frontend developer friend. The inspiration came from my desire to track how many hours I spend programming and
          how many cups of coffee he drinks during one working day as a developer.</p>
        <a href="https://github.com/poisonfrog13/Habit-Tracker" class="btn btn-outline-dark btn-lg">Source Code</a>
      </div>


      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-3">
          <div class="col d-flex flex-column gap-2">

            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center bg-gradient">
              <img src="{% static '/icons/app.svg' %}" class="d-block mx-lg-auto img-fluid" alt="Screen of code"
                width="64" height="64" loading="lazy">
            </div>

            <p class="text-body-secondary">The backend built with Django and DRF supports fundamental CRUD operations
              for habits and daily records, encompassing both list and detail views.</p>
          </div>
          <div class="col d-flex flex-column gap-2">

            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center bg-gradient">
              <img src="{% static '/icons/curly-brackets.svg' %}" class="d-block mx-lg-auto img-fluid"
                alt="Screen of code" width="64" height="64" loading="lazy">
            </div>
            <p class="text-body-secondary">The app built features a REST API providing JSON data and is intended to be
              consumed by a front end web application.</p>
          </div>

          <div class="col d-flex flex-column gap-2">

            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center bg-gradient ">
              <img src="{% static '/icons/secure.svg' %}" class="d-block mx-lg-auto img-fluid" alt="Screen of code"
                width="64" height="64" loading="lazy">
            </div>
            <p class="text-body-secondary">Stateless token-based authentication system ensures secure user access and
              interactions.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center bg-gradient">
              <img src="{% static '/icons/test.svg' %}" class="d-block mx-lg-auto img-fluid" alt="Screen of code"
                width="64" height="64" loading="lazy">
            </div>
            <p class="text-body-secondary">Proficient software testing, including pytest and pytest-django, validates
              the app's reliability and API functionality. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- PROJECTS -->