{% load static %}
<!-- SKILLS -->

<div id='skills' class="d-flex min-vh-100 px-2 px-sm-5">

  <div class="container" id="icon-grid">

      <h2 class="pb-2 border-bottom">Skillset</h2>
  
      <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-4 py-5 mb-4">
          <div class="d-flex py-3 py-sm-5">
          <!-- <div class="d-flex mt-5 border border-dark"> -->
             
                  <div class="col d-flex flex-column align-items-start">

                      <!-- <div class="d-flex flex-row mb-3"></div> -->
                            <div class="d-flex flex-sm-column align-items-center align-items-sm-start" style="gap: 1.5rem">
                                <img style="height: 4rem; width: 4rem;" src="{% static 'icons/Language_light.png' %}" />
                                <span>
                                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Language</h3>
                                    <p class="mb-0">Python</p>
                                  </span>
                              <!-- <div class="icon"><img src="{% static 'icons/python.svg' %}" alt="python icon"></div> -->
                            </div>
                      
                  </div>
              
          </div>

          <!-- <div class="d-flex mt-5 border border-dark"> -->
          <div class="d-flex py-3 py-sm-5">
              
              <div class="col d-flex flex-column align-items-start">
                    
                  <!-- <div class="d-flex flex-row mb-3"></div> -->
                      <div class="d-flex flex-sm-column align-items-center align-items-sm-start" style="gap: 1.5rem">
                          <img style="height: 4rem; width: 4rem;" src="{% static 'icons/Framework.png' %}" />
                          <span>
                            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Frameworks</h3>
                            <p class="mb-0">Django, DRF, Flask, Bootstrap</p>
                          </span>
                      </div>
              </div>

          </div>
          <div class="d-flex py-3 py-sm-5">
            
          <!-- <div class="d-flex mt-5 border border-dark"> -->

              <div class="col d-flex flex-column align-items-start">
                  <!-- <div class="d-flex flex-row mb-3"></div> -->
                      <div class="d-flex flex-sm-column align-items-center align-items-sm-start" style="gap: 1.5rem">
                          <img style="height: 4rem; width: 4rem;" src="{% static 'icons/Testing.png' %}" />
                          <span>
                            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Software Testing</h3>
                            <p class="mb-0">Pytest, Postman</p>
                          </span>
                      </div>
              </div>
          </div>   
      
          <div class="d-flex py-3 py-sm-5">
          <!-- <div class="d-flex mt-5 border border-dark"> -->
              <div class="col d-flex flex-column align-items-start">
                  <!-- <div class="d-flex flex-row mb-3"></div> -->
                      <div class="d-flex flex-sm-column align-items-center align-items-sm-start" style="gap: 1.5rem">
                          <img style="height: 4rem; width: 4rem;" src="{% static 'icons/Sql.png' %}" />
                          <span>
                            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Database</h3>
                            <p class="mb-0">SQL, SQLAlchemy</p>
                          </span>
                      </div>
              </div>
          </div>
          <div class="d-flex py-3 py-sm-5">
          <!-- <div class="d-flex mt-5 border border-dark"> -->
              <div class="col d-flex flex-column align-items-start">
                  <!-- <div class="d-flex flex-row mb-3"></div> -->
                      <div class="d-flex flex-sm-column align-items-center align-items-sm-start" style="gap: 1.5rem">
                          <img style="height: 4rem; width: 4rem;" src="{% static 'icons/Data_science.png' %}" />
                          <span>
                            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Data science analysing</h3>
                            <p class="mb-0">Pandas, NumPy</p>
                          </span>
                      </div>
              </div>
          </div>

          <div class="d-flex py-3 py-sm-5">
          <!-- <div class="d-flex mt-5 border border-dark"> -->
              <div class="col d-flex flex-column align-items-start">
                  <!-- <div class="d-flex flex-row mb-3"></div> -->
                      <div class="d-flex flex-sm-column align-items-center align-items-sm-start" style="gap: 1.5rem">
                          <img style="height: 4rem; width: 4rem;" src="{% static 'icons/Plotting.png' %}" />
                          <span>
                            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Data science visualisation 
                            </h3>
                          <p class="mb-0">Matplotlib, Plotly, Scikit learn, Seaborn</p>
                          </span>
                      </div>
              </div>
          </div>

          <div class="d-flex py-3 py-sm-5">
          <!-- <div class="d-flex mt-5 border border-dark"> -->
              <div class="col d-flex flex-column align-items-start">
                  <!-- <div class="d-flex flex-row mb-3"></div> -->
                      <div class="d-flex flex-sm-column align-items-center align-items-sm-start" style="gap: 1.5rem">
                          <img style="height: 4rem; width: 4rem;" src="{% static 'icons/Git.png' %}" />
                          <span>
                            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Version Control</h3>
                            <p class="mb-0">Git, GitHub</p>
                          </span>
                      </div>
              </div>
          </div>

          <div class="d-flex py-3 py-sm-5">
          <!-- <div class="d-flex mt-5 border border-dark"> -->
              <div class="col d-flex flex-column align-items-start">
                  <!-- <div class="d-flex flex-row mb-3"></div> -->
                      <div class="d-flex flex-sm-column align-items-center align-items-sm-start" style="gap: 1.5rem">
                          <img style="height: 4rem; width: 4rem;" src="{% static 'icons/Devops.png' %}" />
                          <span>
                            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">DevOps</h3>
                            <p class="mb-0">Docker, Docker compose</p>
                          </span>
                      </div>
              </div>
          </div>
      </div>
  </div>

</div>

<!-- SKILLS -->
